/* ==========================================================================
Main page styles
========================================================================== */

.hipster {
  display: inline-block;
  width: 347px;
  height: 497px;
  background: url('../../content/images/jhipster_family_member_2.svg') no-repeat center top;
  background-size: contain;
}

/* wait autoprefixer update to allow simple generation of high pixel density media query */
@media only screen and (-webkit-min-device-pixel-ratio: 2),
  only screen and (-moz-min-device-pixel-ratio: 2),
  only screen and (-o-min-device-pixel-ratio: 2/1),
  only screen and (min-resolution: 192dpi),
  only screen and (min-resolution: 2dppx) {
  .hipster {
    background: url('../../content/images/jhipster_family_member_2.svg') no-repeat center top;
    background-size: contain;
  }
}

.imgHome {
  z-index: -1;
}

.imgContainerBackground{
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#000000+16,000000+48&1+24,0.65+33,0+46 */
background: -moz-linear-gradient(left,  rgba(0,0,0,1) 16%, rgba(0,0,0,1) 24%, rgba(0,0,0,0.65) 33%, rgba(0,0,0,0) 46%, rgba(0,0,0,0) 48%); /* FF3.6-15 */
background: -webkit-linear-gradient(left,  rgba(0,0,0,1) 16%,rgba(0,0,0,1) 24%,rgba(0,0,0,0.65) 33%,rgba(0,0,0,0) 46%,rgba(0,0,0,0) 48%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right,  rgba(0,0,0,1) 16%,rgba(0,0,0,1) 24%,rgba(0,0,0,0.65) 33%,rgba(0,0,0,0) 46%,rgba(0,0,0,0) 48%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#00000000',GradientType=1 ); /* IE6-9 */

}